
.Home > .active {
    border-bottom: 1px solid white;
}
.about > .active {
    border-bottom: 1px solid white;
}
.skill > .active {
    border-bottom: 1px solid white;
}
.project > .active {
    border-bottom: 1px solid white;
}
       